<div class="container">
  <div class="wrapper">
    <div class="education">
      <div class="top">
        <div class="afhs">

        </div>
        <div class="describe stndText">
          Graduate of American Fork High School<br>
          American Fork, UT<br>
          Diploma with Honors (3.85 GPA)
        </div>
      </div>
      <div class="bottom">
        <div class="mtech">
          
        </div>
        <div class="describe stndText">
          Graduate of Mountainland Technical College<br>
          Lehi, UT<br>
          Web Programming & Development
        </div>
      </div>
    </div>
    <div class="personalLife">
      <div class="describe stndText">
        Jacob lives with his beautiful wife, Kira, in American Fork, UT. They enjoy
        going to the movies, camping, and spending time with family.
      </div>
      <div class="pic">

      </div>
    </div>
  </div>
</div>
