<div class="container">
  <div class="wrapper">
    <div class="github section">
      <div class="box" (click)="navigate('https://github.com/jacobira')">
        <div class="icon">
          
        </div>
        <div class="text">
          https://github.com/jacobira
        </div>
      </div>
    </div>
    <div class="email section">
      <div class="box">
        <div class="icon">
        
        </div>
        <div class="text">
          baldwin.jacob1997@gmail.com
        </div>
      </div>
    </div>
    <div class="phone section">
      <div class="box">
        <div class="icon">
        
        </div>
        <div class="text">
          801-960-5144
        </div>
      </div>
    </div>
    <div class="linkedin section">
      <div class="box" (click)="navigate('https://linkedin.com/in/jacob-baldwin-973437161/')">
        <div class="icon">
        
        </div>
        <div class="text">
            https://linkedin.com/in/jacob-baldwin-973437161/
        </div>
      </div>
    </div>
  </div>
</div>

