<div class="container">
    <div class="menu">
        <div class="logoSec">
            <div id="first">
                Baldwin
            </div>
            <div id="last">
                <div>
                    Dev
                </div>
                <div id="dotcom">
                    .com
                </div>
            </div>
        </div>
        <div class="optionsSec">
                <div routerLink="home">
                    Home
                </div>
                <div routerLink="portfolio">
                    Portfolio
                </div>
                <div routerLink="about">
                    About
                </div>
                <div routerLink="connect">
                    Connect
                </div>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>