<div class="container">
    <div class="menu">
        <div class="logoSec">
            <div id="first">
                Baldwin
            </div>
            <div id="last">
                Dev.com
            </div>
        </div>
        <div class="optionsSec">
                <div>
                    Home
                </div>
                <div>
                    Portfolio
                </div>
                <div>
                    About
                </div>
                <div>
                    Connect
                </div>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>