<div class="container">
  <div class="wrapper">
    <div class="top">
      <div class="left">
        <div class="pic">
    
        </div>
      </div>
      <div class="right">
        <div class="name stndText">
          Jacob Baldwin
        </div>
        <div class="subtext stndText">
          Software Developer
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="icon stndText">

      </div>
      <div class="text stndText">
        The right choice for small business web needs! Give your company the face and functionality it deserves
        with a professional, custom website or web-based application!
      </div>
    </div>
  </div>
</div>